.QuizQuestion {
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
}
.QuizEnd {
  justify-content: center;
  text-align: center;
  font-size: 2em;
  padding-top: 20px;
}
.QuizEnd a {
  display: block;
  padding-top: 20px;
  font-size: 1.5rem;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  float: left;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
button {
  padding: 30px;
  margin: 0.6em auto;
  font-size: 1.5em;
  display: block;
}
.error, .correct {
  color: red;
  display: flex;
  justify-content: center;
  text-align: center;
}

.correct {
  color: green;
}